export('dataPrep')
export('dataPrepSlope')
export('isletSolve')
export('isletTest')
export('caseEst')
export('ctrlEst')
import('BiocParallel')
import('parallel')
import('Matrix')
import('SummarizedExperiment')
import('BiocGenerics')
importFrom("stats", "pchisq")
importFrom("methods", "is")
importFrom("methods", "new")
