export('dataPrep')
export('dataPrepSlope')
export('isletSolve')
export('isletTest')
export('caseEst')
export('ctrlEst')
import('BiocParallel')
import('parallel')
import('Matrix')
import('SummarizedExperiment')
import('BiocGenerics')
importFrom("stats", "pchisq")
importFrom("methods", "is")
importFrom("methods", "new")
# imply dependencies
import(lme4)
import(nnls)
importFrom("purrr","map_df")
importFrom("abind","abind")
# imply functions
export('implyDataPrep')
export('imply')
#export('lme_fml')
#export('lmer_deconv')
